body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:220px;
  top:157px;
  width:300px;
  height:170px;
}
#u816 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
