body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:89px;
  background:inherit;
  background-color:rgba(28, 27, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:10px;
  top:49px;
  width:640px;
  height:89px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u850 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
  background:inherit;
  background-color:rgba(28, 27, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u851 {
  position:absolute;
  left:60px;
  top:77px;
  width:63px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u852 {
  position:absolute;
  left:2px;
  top:-1px;
  width:59px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:34px;
}
#u853 {
  position:absolute;
  left:31px;
  top:77px;
  width:19px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u854 {
  position:absolute;
  left:2px;
  top:9px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:89px;
  background:inherit;
  background-color:rgba(28, 27, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u855 {
  position:absolute;
  left:197px;
  top:49px;
  width:266px;
  height:89px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u856 {
  position:absolute;
  left:2px;
  top:22px;
  width:262px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:12px;
}
#u857 {
  position:absolute;
  left:581px;
  top:88px;
  width:41px;
  height:12px;
}
#u858 {
  position:absolute;
  left:2px;
  top:-2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:39px;
}
#u859 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u860 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:10px;
  top:148px;
}
#u862_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u862_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:277px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:277px;
}
#u864 {
  position:absolute;
  left:2px;
  top:130px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u862_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:277px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:277px;
}
#u866 {
  position:absolute;
  left:2px;
  top:130px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:10px;
  top:435px;
  width:640px;
  height:190px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u870 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 59, 61, 1);
  border:none;
  border-radius:50px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:10px;
  top:451px;
  width:96px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u873 {
  position:absolute;
  left:116px;
  top:451px;
  width:534px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u874 {
  position:absolute;
  left:2px;
  top:1px;
  width:530px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:104px;
}
#u875 {
  position:absolute;
  left:10px;
  top:502px;
  width:210px;
  height:104px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u876 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:104px;
}
#u877 {
  position:absolute;
  left:225px;
  top:502px;
  width:210px;
  height:104px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u878 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:104px;
}
#u879 {
  position:absolute;
  left:440px;
  top:502px;
  width:210px;
  height:104px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:2px;
  top:44px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:57px;
  background:inherit;
  background-color:rgba(143, 105, 192, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:467px;
  top:526px;
  width:156px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u881_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:57px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u881.mouseDown {
}
#u882 {
  position:absolute;
  left:2px;
  top:14px;
  width:152px;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u883 {
  position:absolute;
  left:222px;
  top:509px;
  width:1px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u885 {
  position:absolute;
  left:437px;
  top:509px;
  width:1px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u886 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:10px;
  top:1092px;
  width:640px;
  height:82px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:2px;
  top:33px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u892 {
  position:absolute;
  left:46px;
  top:1108px;
  width:120px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u892_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(144, 105, 184, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u892.selected {
}
#u893 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u894 {
  position:absolute;
  left:56px;
  top:1120px;
  width:27px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u894_img.selected {
}
#u894.selected {
}
#u895 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u896 {
  position:absolute;
  left:89px;
  top:1120px;
  width:67px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u896.selected {
}
#u897 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u899 {
  position:absolute;
  left:196px;
  top:1108px;
  width:120px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u899_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(144, 105, 184, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u899.selected {
}
#u900 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u901 {
  position:absolute;
  left:206px;
  top:1120px;
  width:27px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u901_img.selected {
}
#u901.selected {
}
#u902 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u903 {
  position:absolute;
  left:239px;
  top:1120px;
  width:67px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u903_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u903.selected {
}
#u904 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u906 {
  position:absolute;
  left:344px;
  top:1108px;
  width:120px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u906_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(144, 105, 184, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u906.selected {
}
#u907 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u908 {
  position:absolute;
  left:354px;
  top:1120px;
  width:27px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u908_img.selected {
}
#u908.selected {
}
#u909 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u910 {
  position:absolute;
  left:387px;
  top:1120px;
  width:67px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u910_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u910.selected {
}
#u911 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u913 {
  position:absolute;
  left:494px;
  top:1108px;
  width:120px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u913_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(144, 105, 184, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u913.selected {
}
#u914 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u915 {
  position:absolute;
  left:504px;
  top:1120px;
  width:27px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u915_img.selected {
}
#u915.selected {
}
#u916 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u917 {
  position:absolute;
  left:537px;
  top:1120px;
  width:67px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u917_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u917.selected {
}
#u918 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:19px;
  top:840px;
  width:622px;
  height:229px;
  overflow:hidden;
}
#u919_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:229px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u919_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:310px;
}
#u920 {
  position:absolute;
  left:0px;
  top:-17px;
  width:622px;
  height:310px;
}
#u921 {
  position:absolute;
  left:2px;
  top:147px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:229px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u919_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:310px;
}
#u922 {
  position:absolute;
  left:0px;
  top:-17px;
  width:622px;
  height:310px;
}
#u923 {
  position:absolute;
  left:2px;
  top:147px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:409px;
}
#u925 {
  position:absolute;
  left:125px;
  top:662px;
  width:410px;
  height:409px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:2px;
  top:196px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#A29FA6;
}
#u927 {
  position:absolute;
  left:197px;
  top:698px;
  width:267px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#A29FA6;
}
#u928 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#E23234;
}
#u929 {
  position:absolute;
  left:197px;
  top:751px;
  width:267px;
  height:79px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#E23234;
}
#u930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:263px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u931 {
  position:absolute;
  left:164px;
  top:840px;
  width:335px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A29FA6;
}
#u933 {
  position:absolute;
  left:197px;
  top:851px;
  width:118px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A29FA6;
}
#u934 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A29FA6;
}
#u935 {
  position:absolute;
  left:345px;
  top:851px;
  width:118px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A29FA6;
}
#u936 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:31px;
}
#u937 {
  position:absolute;
  left:329px;
  top:863px;
  width:2px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A29FA6;
}
#u938 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:197px;
  top:955px;
  width:267px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:460px;
}
#u941 {
  position:absolute;
  left:10px;
  top:635px;
  width:640px;
  height:460px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u942 {
  position:absolute;
  left:2px;
  top:222px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
