body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:64px;
  top:103px;
  width:257px;
  height:345px;
}
#u820 {
  position:absolute;
  left:2px;
  top:164px;
  width:253px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:64px;
  top:75px;
  width:257px;
  height:29px;
}
#u822 {
  position:absolute;
  left:2px;
  top:6px;
  width:253px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:64px;
  top:447px;
  width:257px;
  height:43px;
}
#u824 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:415px;
  top:261px;
  width:257px;
  height:80px;
}
#u826 {
  position:absolute;
  left:2px;
  top:32px;
  width:253px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:415px;
  top:75px;
  width:257px;
  height:80px;
}
#u828 {
  position:absolute;
  left:2px;
  top:24px;
  width:253px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:415px;
  top:168px;
  width:257px;
  height:80px;
}
#u830 {
  position:absolute;
  left:2px;
  top:32px;
  width:253px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:415px;
  top:447px;
  width:257px;
  height:43px;
}
#u832 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:297px;
  top:276px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u833_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u833_seg1 {
  position:absolute;
  left:82px;
  top:-11px;
  width:23px;
  height:22px;
}
#u834 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u835 {
  position:absolute;
  left:682px;
  top:75px;
  width:82px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u836 {
  position:absolute;
  left:2px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u837 {
  position:absolute;
  left:682px;
  top:171px;
  width:82px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u838 {
  position:absolute;
  left:2px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u839 {
  position:absolute;
  left:682px;
  top:263px;
  width:82px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u840 {
  position:absolute;
  left:2px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:415px;
  top:354px;
  width:257px;
  height:80px;
}
#u842 {
  position:absolute;
  left:2px;
  top:24px;
  width:253px;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u843 {
  position:absolute;
  left:682px;
  top:355px;
  width:82px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u844 {
  position:absolute;
  left:2px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u845 {
  position:absolute;
  left:682px;
  top:447px;
  width:82px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u846 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
